@import url(./contact.css);

#_contact-form .cntItem .title{
  margin-top: 0;
}
#_contact-form .cntItem .inputs{
  line-height: 1.8;
}

#_form-ctype .inputs{
  display: block;
}
#_form-cway .inputs{
  display: block;
}
#_form-cway .container{
  margin: 0;
  transform: none;
}
/* TAB */
@media screen and (max-width: 899px) {
  #_contact-form .cntItem .inputs{
    font-size: 1.4rem;
  }

  #_contact-form .cntBtns{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}