/* 取扱業務 */
#_services .cntTitle{
  margin-bottom: 100px;
}
#_services .cntList{
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
  grid-template-columns: 1fr 1fr;
  gap: 80px 8.33%;
}
#_services .cntItem{
  display: flex;
  flex-direction: column;
}
#_services .cntItem .title{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 30px;
  padding-bottom: 12px;
  border-bottom: 1px solid #959997;
  box-sizing: content-box;
  color: var(--c-base-btn);
  font-family: var(--ff-mincho);
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: .1em;
}
#_services .cntItem .box{
  display: flex;
}
#_services .cntItem .box-img{
  width: 100%;
  max-width: 280px;
}
#_services .cntItem .image{
  position: relative;
  padding-top: 100%;
  background: #959996;
}
#_services .cntItem .box-texts{
  width: 100%;
  max-width: 270px;
  min-width: 240px;
  padding-left: 5.455%;
}
#_services .cntItem .text{
  line-height: 1.6;
}
#_services .cntItem .text a{
  text-decoration: underline;
  text-underline-offset: 2px;
}
#_services .cntItem .list{
  counter-reset: item;
}
#_services .cntItem .list li{
  display: flex;
}
#_services .cntItem .list li::before{
  content: counter(item)'.';
  counter-increment: item;
  flex-shrink: 0;
  flex-grow: 0;
  width: 28px;
}
#_services .cntItem .list a{
  line-height: 1.6;
  text-decoration: underline;
  text-underline-offset: 2px;
}
#_services .cntItem .button{
  margin-top: 30px;
  font-family: var(--ff-main);
  font-weight: 700;
  letter-spacing: 0;
}
#_services .cntItem .button .arrow::before,
#_services .cntItem .button .arrow::after{
  top: 52%;
  height: 2px;
}
/* TAB */
@media screen and (max-width: 899px) {
  #_services .cntItem .box-texts{
    max-width: 100%;
  }
  #_services .cntTitle{
    margin-bottom: 40px;
  }
  #_services .cntList{
    grid-template-columns: 1fr;
    gap: 60px;
  }
  #_services .cntItem{
    max-width: 551px;
    width: 100%;
    margin: 0 auto;
  }
  #_services .cntItem .title{
    font-size: 2rem;
  }
  #_services .cntItem .box{
    flex-direction: column;
  }
  #_services .cntItem .box-img{
    max-width: 100%;
    margin-bottom: 20px;
  }
  #_services .cntItem .image{
    padding-top: 31.74%;
  }
  #_services .cntItem .box-texts{
    max-width: 100%;
    padding-left: 0;
  }
  #_services .cntItem .text{
    font-size: 1.4rem;
    line-height: 1.8;
  }
  #_services .cntItem .text a{
    font-size: 1.4rem;
  }
  #_services .cntItem .list a{
    line-height: 1.8;
    font-size: 1.4rem;
  }
  #_services .cntItem .button{
    font-size: 1.4rem;
  }
}

/* Corporate */
#_corporate{
  padding: 100px 30px 160px;
}
/* TAB */
@media screen and (max-width: 899px) {
  #_corporate{
    padding: 120px 30px 80px;
    margin-top: -50px;
  }
}
/* SP */
@media screen and (max-width: 480px) {
  #_corporate{
    padding-top: 90px;
  }
}

/* Individual */
#_individual{
  padding: 160px 30px;
  background: #F4F5F5;
}
#_individual .cntTitle{
  text-align: center;
}
/* TAB */
@media screen and (max-width: 899px) {
  #_individual{
    padding: 80px 30px;
  }
}

/* Access */
#_access{
  padding-top: 0;
}

/* Anchor */
#_anchor{
  width: 100%;
  padding: 40px 30px 0;
}
#_anchor .cntInner{
  display: flex;
  justify-content: center;
  gap: 0 3px;
  max-width: 315px;
  width: 100%;
  margin: 0 auto;
}
#_anchor .cntBtn{
  flex-basis: 50%;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: .1em;
  font-weight: 600;
  font-family: var(--ff-mincho);
  background: var(--c-base-btn);
  padding: 14px 30px 14px 20px;
  position: relative;
}
#_anchor .cntBtn::before,
#_anchor .cntBtn::after{
  position: absolute;
  content: "";
  height: 4px;
  width: 1px;
  background: #fff;
  top: calc(50% - 2px);
  right: 23px;
  transform-origin: bottom center;
}
#_anchor .cntBtn::before{
  transform: rotate(50deg);
}
#_anchor .cntBtn::after{
  transform: rotate(-50deg);
}