#breadcrumbs .cntInner::before{
  background: var(--c-base-btn);
}
#breadcrumbs .cntList{
  color: #fff;
}
#breadcrumbs .cntList .item + .item::before,
#breadcrumbs .cntList .item + .item::after{
  background: #fff;
}

/* サイドバー */
#withSidebar{
  padding-bottom: 80px;
}
/* TAB */
@media screen and (max-width: 899px) {
  #withSidebar{
    padding: 0;
    gap: 80px;
  }
  #sidebar{
    order: 2;
    border: none;
  }
  #sidebar .cntBox .title{
    font-size: 2rem;
    padding: 0 30px;
  }
  #sidebar .cntList .link{
    padding-left: 30px;
    padding-right: 30px;
  }
  #sidebar .cntList .link::before,
  #sidebar .cntList .link::after{
    display: none;
  }
}

/* 目次 */
#toc_container .toc_list > li > a .num{
  display: inline-block;
}

/* 本文 */
#_post{
  margin: 0;
  padding: 0;
}
#_post .cntBox h1:first-child,
#_post .cntBox h2:first-child{
  margin-top: 0;
}
#_post .cntBox h1,
#_post .cntBox h2{
  margin-top: 80px;
}
#_post .cntBox p + ul{
  margin-top: 40px;
}
#_post .cntBox ul.is-style-checklist{
  margin: 40px 0;
}
#_post .cntBox ul.is-style-checklist li + li{
  margin-top: 20px;
}
/* TAB */
@media screen and (max-width: 899px) {
  #_post{
    padding: 40px 30px 0;
  }
  #_post .cntBox h1:first-child,
  #_post .cntBox h2:first-child{
    margin-top: 0;
  }
  #_post .cntBox h1,
  #_post .cntBox h2{
    margin-top: 60px;
  }
  #_post .cntBox p + ul{
    margin-top: 30px;
    margin-bottom: 14px;
  }
  #_post .cntBox ul.is-style-checklist{
    margin: 30px 0;
  }
  #_post .cntBox ul.is-style-checklist li + li{
    margin-top: 14px;
  }
}

#pageHeading .cntTitle .en{
  font-size: 1.6rem;
}

#pageHeading .cntTitle .ja{
  margin-top: 10px;
  font-size: 3.4rem;
  letter-spacing: .05em;
}
/* TAB */
@media screen and (max-width: 899px) {
	#pageHeading .cntTitle .ja{
		font-size: 2.8rem;
	}
	#pageHeading .cntTitle .en{
		font-size: 1.3rem;
	}
}
/* SP */
@media screen and (max-width: 480px) {
	#pageHeading .cntTitle .ja{
		font-size: 2.2rem;
	}
}