@charset "UTF-8";

/*全体共通*/
:root, html{ font-size: 10px; } 
*{ box-sizing: border-box; }
body {
	--max-width: 900px;
  --c-base: #262626;
  --c-base-btn: #10291E;
  --c-main: #A1D154;
  --c-accent: #C69C2D;
  --ff-main: 'Noto Sans JP', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
	--ff-mincho: 'Noto Serif JP', "游明朝", YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", serif;
  --ff-en: 'Cormorant', 'Fjalla One', 'Noto Serif JP', "游明朝", YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", serif;
  --ff-en-2: 'Fjalla One', 'Cormorant', 'Noto Serif JP', "游明朝", YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", serif;
	/* Noto Sans JP: Thin-100, Regular-400 */
	/* Noto Serif JP: Regular-400, Medium-500, SemiBold-600, Bold-700 */
	/* Cormorant: Regular-400, Medium-500, SemiBold-600, Bold-700 */
	/* Fjalla One: Regular-400 */

  position: relative;
  width: 100%;
  overflow-x: hidden;
	color: var(--c-base);
	font-family: var(--ff-main);
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.4;
  -webkit-text-size-adjust: 100%;
}
/* IE表示用のCSS　*/
@media all and (-ms-high-contrast:none){
	body {font-family: "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans",sans-serif;}
}
a{
	display: inline-block;
	color: inherit;
	font-weight: inherit;
}
a:hover{
	cursor: pointer;
}
body.userAgent-pc a[href^="tel:"]{
	pointer-events: none;
}
img, svg{
  display: inline-block;
  max-width: 100%;
  vertical-align: bottom;
}
select{
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.--ff-en{ font-family: var(--ff-en); }
.--ff-mincho{ font-family: var(--ff-mincho); }
.--c-red{ color: #e60012 !important; }
.--c-white{ color: #fff !important; }
.--c-yellow{ color: #ffff00 !important; }
.--c-blue{ color: #3372b9 !important; }
.--c-pink{ color: #ff7987 !important; }
.--center{ text-align: center !important; }
.--ta-l{ text-align: left !important; }
.--ta-r{ text-align: right !important; }
.--ta-justify{ text-justify: inter-ideograph; text-align: justify; text-align-last: left; }
.--bold{ font-weight: bold !important; }
.--thin{ font-weight: 100 !important; }
.--nowrap{ white-space: nowrap; }
.--kerning{ font-feature-settings: "palt"; }

.--overflow-ellipsis{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.--under{ border-bottom: 1px solid #888; }
.--img-cover{ width: 100%; height: 100%; object-fit: cover; }
.--img-contain{ width: 100%; height: 100%; object-fit: contain; }
.--clearfix::after{ content: ""; display: block; clear: both; }
.--d-ib{ display: inline-block !important; }
.--d-n{ display: none !important; }
.--d-f{ display: flex !important; }
.--justify-center{ display: flex; justify-content: center; }
.--absolute{ position: absolute; top: 0; left: 0; }

/* PC */
@media (min-width: 900px){
	.--tab{ display: none !important; }
	.--sp{ display: none !important; }
	.--tab-sp{ display: none !important; }

	.--pc_pl-0{ padding: 0 !important; }
	.--pc_pr-0{ padding: 0 !important; }
}
/* TAB */
@media screen and (max-width: 899px) and (min-width: 481px) {
	.--pc{ display: none !important; }
	.--sp{ display: none !important; }
	.--pc-sp{ display: none !important; }

	.--tab_pl-0{ padding: 0 !important; }
	.--tab_pr-0{ padding: 0 !important; }
}
/* SP */
@media screen and (max-width: 480px) {
	.--pc{ display: none !important; }
	.--tab{ display: none !important; }
	.--pc-tab{ display: none !important; }

	.--sp-pl-0{ padding: 0 !important; }
	.--sp-pr-0{ padding: 0 !important; }

	.--sp_fs-14{ font-size: 14px !important; }
	.--sp_fs-16{ font-size: 16px !important; }
	.--sp_fs-18{ font-size: 18px !important; }
}

/* 共通 */
.cntInner,
._Inner{
	width: 100%;
	margin: 0 auto;
}
._Inner{
	max-width: 1200px;
}
._Title{
	margin-bottom: 30px;
	color: var(--c-base-btn);
}
._Title .en{
	display: block;
	font-family: var(--ff-en);
	font-weight: 400;
	font-size: 5.8rem;
	letter-spacing: .1em;
}
._Title .ja{
	margin-top: 7px;
	font-family: var(--ff-mincho);
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: .2em;
}
._Catch{
	font-family: var(--ff-mincho);
	font-size: 3.2rem;
	letter-spacing: .1em;
	line-height: 1.8;
}
._Text{
	line-height: 1.8;
}
._Btn{
	position: relative;
	display: block;
	padding: 23px 26px 22px 20px;
	background: var(--c-base-btn);
	color: #fff;
	font-family: var(--ff-mincho);
	font-weight: 700;
	letter-spacing: .2em;
	text-align: center;
}
._Btn::before,
._Btn::after{
	content: "";
	position: absolute;
	top: 50%;
	right: 20px;
	width: 11px;
	height: 2px;
	background: #fff;
	transform-origin: right;
}
._Btn::before{
	transform: rotate(45deg);
}
._Btn::after{
	transform: rotate(-45deg);
}
._Btn-en{
	display: inline-block;
	min-width: 79px;
	color: var(--c-base-btn);
	font-family: var(--ff-en-2);
	font-size: 1.3rem;
	font-weight: 400;
	letter-spacing: .1em;
}
._Btn-en .arrow{
	position: relative;
	display: inline-block;
	width: 13px;
	height: .9em;
}
._Btn-en .arrow::before,
._Btn-en .arrow::after{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	display: block;
	width: 7px;
	height: 1px;
	background: var(--c-base-btn);
	transform-origin: right;
}
._Btn-en .arrow::before{
	transform: rotate(45deg);
}
._Btn-en .arrow::after{
	transform: rotate(-45deg);
}

/* ローディング */
#loading{
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	height: 100%;
	z-index: 999;
}

/* トップへ戻るボタン */
#top{
	position: fixed;
	top: auto;
	bottom: 0;
	right: 0;
	z-index: 100;
	width: 60px;
	height: 60px;
	background: #102916;
}
#top::before,
#top::after{
	content: "";
	position: absolute;
	width: 2px;
	height: 9px;
	background: #fff;
	top: 26px;
	/* left: 29px; */
	transform-origin: top center;
}
#top::before{
	transform: rotate(48deg);
	left: 29px;
}
#top::after{
	transform: rotate(-48deg);
	left: 28px;
}

/* ヘッダー */
#header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background: #FFF;
	width: 100%;
	min-height: 76px;
}
#header .cntInner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1920px;
	width: 100%;
	height: 100%;
	position: relative;
	gap: 0 20px;
	min-height: 76px;
}
#header .cntList-02 .item{
	position: absolute;
	top: 0;
	right: 0;
	width: 120px;
	height: 120px;
	background: var(--c-main);
	text-align: center;
	padding-top: 33px;
}
#header .cntList-02 .icon{
	display: block;
	margin-bottom: 13px;
}
#header .cntList-02 .txt{
	font-size: 1.3rem;
	font-weight: 700;
	font-family: var(--ff-mincho);
	letter-spacing: .1em;
}
#headerLogo{
	/* flex-shrink: 0; */
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 306px;
	/* padding: 16px 0 15px 4.393%; */
	padding: 16px 0 15px 15px;
	font-family: var(--ff-mincho);
	font-weight: 700;
	letter-spacing: .2em;
	line-height: 1.4;
	white-space: nowrap;
}
#header .cntBox{
	display: flex;
	justify-content: flex-end;
}
#header .cntList-01{
	display: flex;
	font-weight: 700;
	letter-spacing: .2em;
	padding-right: 140px;
}
#header .cntList-01 > li{
	position: relative;
	padding: 25px 0;
}
#header .cntList-01 > li > a{
	position: relative;
	padding: 0 28px;
}
#header .cntList-01 > li + li > a::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 1px;
	height: 20px;
	background: var(--c-base);
	transform: translateY(-50%);
}
#header .cntList-01 > li > .child{
	position: absolute;
	top: 100%;
	left: 50%;
	display: none;
	min-width: 221px;
	padding: 10px 28px;
	background: #fff;
	transform: translateX(-50%);
	font-size: 1.4rem;
}
#header .cntList-01 > li:hover > .child{
	display: block;
}
#header .cntList-01 .child li + li{
	border-top: 1px solid #CFD4D2;
}
#header .cntList-01 .child a{
	padding: 18px 0;
}
#header .cntList-02{
	color: #10291E;
}
#headerBtn{
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	width: 74px;
	height: 74px;
	background: var(--c-main);
}
#headerBtn span{
	position: absolute;
	left: 20px;
	display: inline-block;
	width: 30px;
	height: 2px;
	transition: all .5s;
	background: var(--c-base-btn);
}
#headerBtn span:nth-of-type(1){
	top: 27px;
}
#headerBtn span:nth-of-type(2){
	top: 50%;
	transform: translateY(-1px);
}
#headerBtn span:nth-of-type(3){
	bottom: 27px;
}
#headerBtn.active span:nth-of-type(1){
	transform: translateY(7px) rotate(45deg);
}
#headerBtn.active span:nth-of-type(2){
	opacity: 0;
}
#headerBtn.active span:nth-of-type(3){
	transform: translateY(-7px) rotate(-45deg);
}
@media screen and (max-width: 1366px) {
	#header .cntList-01{
		padding-right: 120px;
	}
	#header .cntList-01 > li > a{
		padding: 0 2.04vw;
	}
}
/* TAB */
@media screen and (max-width: 899px){
	#header{
		/* position: fixed;
		top: 0;
		left: 0;
		background: #fff;
		z-index: 100;
		background: #FFF;
		width: 100%; */
		min-height: 60px;
	}
	#header .cntInner{
		/* display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1920px;
		width: 100%;
		height: 100%;
		position: relative; */
	}
	#headerLogo{
	}
}

/* スマホナビ */
#nav{
	display: none;
}

/* フッター */
#footer{
	background: #000;
}
#footer .cntInner{
	max-width: 1259px;
	width: 100%;
	padding: 0 30px 60px;
	color: #FFF;
}
#footer .cntList{
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: 1fr;
	gap: 32px 40px;
	position: relative;
	font-weight: 600;
	justify-content: center;
	padding: 35px 0;
	margin-bottom: 41px;
}
#footer .cntList::after{
	content: "";
	position: absolute;
	width: 100vw;
	height: 1px;
	background: #414141;
	bottom: 0;
	left: calc(50% - 50vw);
}
#footer .cntBottom{
	display: flex;
	justify-content: space-between;
	align-items: end;
}
#footer .cntText{
	font-size: 1.3rem;
	letter-spacing: .1em;
	line-height: 2.1538;
	font-weight: 400;
}
#copyright{
	font-size: 1.2rem;
	letter-spacing: .1em;
	color: #959996;
}
#footerLogo{
	font-size: 1.8rem;
	font-family: var(--ff-mincho);
	letter-spacing: .2em;
	line-height: 1.7777;
	font-weight: 400;
	margin-bottom: 34px;
}
#footerLogo .small{
	font-size: 1.3rem;
	font-family: var(--ff-mincho);
	letter-spacing: .2em;
}
/* TAB */
@media screen and (max-width: 899px){
	#footer .cntInner{
		padding-bottom: 23px;
	}
	#footer .cntList{
		grid-template-rows: repeat(2,1fr);
		font-weight: 400;
		padding: 55px 0 40px;
		margin: 0 auto 40px;
	}
	#footer .cntList::after{
		width: 100%;
		left: 0;
	}
	#footer .cntList li+li{
		margin-left: 0;
	}
	#footer .cntList .shrink{
		font-size: 1.2rem;
	}
	#footer .cntBottom{
		display: block;
	}
	#footer .cntText{
		padding-bottom: 78px;
	}
	#copyright{
		font-size: .9rem;
	}
	#footerLogo{
		padding-bottom: 20px;
	}
	#footerLogo,
	#footer .cntBottom{
		max-width: 300px;
		width: 100%;
		margin: 0 auto;
	}
}
/* SP */
@media screen and (max-width: 480px) {
	#footer .cntList{
		grid-template-rows: repeat(3,1fr);
	}
}

/*パンくずリスト*/
#breadcrumbs{
	margin: 20px 0;
}
#breadcrumbs li{
	margin-right: 10px;
}
#breadcrumbs li + li::before{
	content: ">";
	display: inline-block;
}